<footer class="footer footer-white">
  <div class="container footer-top">
    <div class="footer-row row">
      <div class="footer-contact-info col-md-12 col-lg-3">
        <a
          class="footer-contact-info__logo-link"
          rel="tooltip"
          data-placement="bottom"
          target="_self"
          href="/"
        >
          <img class="logo" src="../assets/img/logo.png" />
        </a>
        <div class="footer-contact-info__address">
          <span>
            Gezellenlaan 42 <br />
            8730 Sint-Baafs <br />
            E-mail:
            <a
              class="footer-contact-info__address__email-link"
              type="E-mail"
              href="mailto:info@loremipsum.be"
              >info@loremipsum.be</a
            >
          </span>
        </div>
        <div class="footer-contact-info__phone">
          <a class="phone-number" href="tel:02/124 59 78">
            <i class="fa fa-phone"></i> 02/124 59 78</a
          >
        </div>
      </div>
      <nav class="footer-nav col-6 col-sm-6 col-md-4 col-lg-2">
        <span class="footer-nav__title">Menu</span>
        <ul>
          <li>
            <a href="/menu" target="_self">Kaart</a>
          </li>
          <li>
            <a href="https://www.brainlane.com/" target="_blank">Foto's</a>
          </li>
          <li>
            <a href="https://www.brainlane.com/" target="_blank">Nieuws</a>
          </li>
          <li>
            <a href="https://www.brainlane.com/" target="_blank">Cadeaubon</a>
          </li>
          <li>
            <a href="https://www.brainlane.com/" target="_blank">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="footer-opening-hours col-6 col-sm-6 col-md-4 col-lg-3">
        <span class="footer-opening-hours__title">Openingsuren</span>
        <span class="footer-opening-hours__content"
          >Van dinsdag tot en met donderdag zijn wij enkel open voor groepen en
          evenementen tot 80 personen en volgens uw budget.</span
        >
      </div>
      <div class="footer-newsletter col-sm-12 col-md-4 col-lg-3">
        <span class="footer-newsletter__title">Nieuwsbrief</span>
        <div class="footer-newsletter__content">
          Blijf op de hoogte van onze activiteiten
          <form (submit)="onSubmit($event)" [formGroup]="form">
            <div class="input-group">
              <input
                class="form-control rounded-0"
                type="email"
                placeholder="Email"
                formControlName="email"
              />
              <div class="input-group-prepend">
                <button type="submit" value="submit">
                  <i class="fa fa-paper-plane"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container footer-middle">
    <span class="footer-copyright"
      >Copyright 2017. Website by
      <a
        class="footer-copyright__link"
        href="https://www.linkedin.com/in/jordy-vandormael/"
        >Jordy Vandormael</a
      ></span
    >
    <div class="footer-socials">
      <div class="nav-item">
        <a
          class="nav-link"
          rel="tooltip"
          title="Follow us on Twitter"
          data-placement="bottom"
          href="https://www.linkedin.com/in/jordy-vandormael/"
          target="_blank"
        >
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <div class="nav-item">
        <a
          class="nav-link"
          rel="tooltip"
          title="Like us on Facebook"
          data-placement="bottom"
          href="https://www.linkedin.com/in/jordy-vandormael/"
          target="_blank"
        >
          <i class="fa fa-facebook-square"></i>
        </a>
      </div>
      <div class="nav-item">
        <a
          class="nav-link"
          rel="tooltip"
          title="Follow us on Instagram"
          data-placement="bottom"
          href="https://www.linkedin.com/in/jordy-vandormael/"
          target="_blank"
        >
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row google-maps">
    <iframe
      width="100%"
      height="250"
      style="border: 0"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/place?key=skvklvvjnvnjsdvdvkzfhzooo_dzjkfjj
  &q=Space+Needle,Seattle+WA"
    >
    </iframe>
    <img class="fallback-image" src="../assets/img/topography-map.jpeg" />
  </div>
</footer>
