<div class="menu-banner">
  <div class="background-image">
    <img src="../assets/img/davide-cantelli-148407.jpg" />
  </div>

  <div class="container absolute-container">
    <div class="banner-text">
      <h1>
        Bekijk <br />
        onze menukaart
      </h1>
    </div>
    <div class="actions col-md-5 ml-auto mr-auto">
      <a class="btn btn-danger btn-lg btn-fill" href="/menu">Bekijk online</a>
      <a
        class="btn btn-outline-secondary btn-fill"
        href="../assets/files/menu-2024.pdf"
        download
      >
        Download PDF (104 kb) <i class="fa fa-download"></i>
      </a>
    </div>
  </div>
</div>
